<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>OsxAptioFixDrv-RelocBase</key>
	<data>
	AIBJbgAAAAA=
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Vw==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	AA==
	</data>
	<key>aapl,panic-info</key>
	<data>
	8LA7PUaN4XWQDDQOs9llOQiGN5vNZrP5ZsbVYrgyLoZL6UDh+bwsp7fnZ+CLmRbLw/L8
	axgeo8vz1/jddoXhcHbZhRfPX9N3XT4uz19HaJUoT9vL8nnSTS+zX0dolShP28vyedJN
	L7NbMZhrBnPFaK/hu91+u1/Jp5Motb6SbnqZ/RISr68gHM4uJ930MtsoD7fL4rrZXJa/
	gnA4u5x008vs4dtNl7/Z7LLcNYbDdbJYLZZTCMPjNV0eHpdBqCG0CpKlWCCjPNwug3Qg
	aZlel7tBQTJZXp7PFTC82Ww2m824mLkMi83CYhhIB4LhzWaz2WzGwWAyG81sg9lAChje
	bDabzWZczFyGxWZiGAykA8HwZrPZbDbjYDDZ7Ta21WggBQxvNpvNZjMuZi7DYjMxDQbS
	gWB4s9lsNptxMJjsZivHaDmQAoY3m81msxkXM5dhsZl4DAPpQDC82Ww2m804GExmg8Vi
	MhhIAcObzWaz2YyLmcuw2ExchoF0IBjebDabzWYcDCaz0cyw2RikgOHNZrPZbMbFzGVY
	bEaOwUA6EAxvNpvNZjMOBpPZaGWyeAxSwPBms9lsNuNi5jIsNiPfYCAdCIY3m81ms/lm
	xtViuDIuhgMpYHiz2Ww2m3ExcxkWm5HJMJAOBMObzWaz2Xwz42ox3Dh2u4EUMLzZbDab
	zbiYuQyLzco0GEgHguHNZrPZbMbBYLKxLWzLkUEKGN5sNpvNZlzMXIbFZmUcDKQDwfBm
	s9lsNuNgMNnYFp6VYyAFDG82m81mMy5mLsNiMzMMBtKBYHiz2Ww2m3EwmGxsy+VgN5AC
	hjebzWazGRczl2GxmbkGA+lAMLzZbDabzTgYTDa2iWsxG0gBw5vNZrPZjIuZy7DYzByG
	gXQgGN5sNpvNZhwMJrPBYDTzDaQAgUAgEGhZlrvLbFARTy+75+m3ew5Ku0Hi8HhNl4fH
	ZZ0CBAKBQCAQCDR+t11hOJxddpHlaXtZ7grC4exy0k0vs4XE61EehqPT47lRHm6XxXWz
	uSxHxWCuWWpLhMVwtOLM1irSisTWbAYbtoI1G601xOWMshnOeKPZhl0gDG82m81m882M
	q8VsYxgM1vLB8Gaz2Ww238y4mqxsM5vNChAIBAKBQCAQCAQil+FlN7nsHud1oPG77QrD
	4eyyK/1ep+mu5BM6TBrD7TQ7j5K5cqktrmgb2mq0YosWxBlbs6FN2BIKjcWWMIgL2nDD
	3DBGs3WBMLzZbDabzTczTlbO0WAwmAIEAoFAIBAIBAKByGV42U0uu8d5HWj8brvCcDi7
	7Eq/12m6K/kMDqFJY7idZudRMRcttcXdcrThzQZrGYnEXGtms9FaQWKR2KIFc0JhcWgr
	1mK3LhCGN5vNZrP5ZsbNZuEZDAZTgEAgEAgEAoFAIBC5DC+7yWX3OK8Djd9tVxgOZ5dd
	6fc6TXcln8HxuMwuy8P0t9wYbqfZeRlqdrO5bKltzYgzznJCWosWCwpbM5lt1srhbLcW
	EWYMGnNCIVEWLHaBMLzZbDabzTczrgYbj2EwmAIEAoFAIBAIBAKByGV42U0uu8d5HWj8
	brvCcDi77Eq/12m6K/mUluFvOd0YbqfZedQsltoSZUaZUUg0tmjFIq01wwmDrVzOWGsJ
	bbmcEYezGWmxWRcIw5vNZrPZfDPjZjkZDgaDKUAgEAgEAoFAIBCIXIaX3eSye5zXgcbv
	tisMh7PLriAczi4f5WE4Oj2eE8v29Lg8fLvp8jcbNXPFbC5ZLLU14mqwWRGHa8loRWNr
	RhQGW0Ea0dYyBmPDIm1Iu9Fkty4QhjebzWaz+WbG1WI2GQwGU4BAIBAIBAKBQCAQuQwv
	u8ll9zivA43fbVcYDmeXXen3Ok13JZ9HeRiOTo/nxnA7zc6jarGbSyZLbWXBYhAmExpb
	suAM15rZbrRWMIa7tYo1oy0GMxJtNeGtC4ThzWaz2Wy+mXE1GK4Gg8EUCuGUCILL3+Py
	fA5yh9tl0Pgtl5fn8LebnHafQfQ3aFyXy8tuOoiOlpfDZB1oXZa7y+wvPTxfK4TvNx0U
	lp/nOlDLDiKH5fQeDOS2f8npeVjMLvdioHUZT2+Ry/ZW+00u92Kglh0EUiia4THoOQXZ
	y/J5+u3WKWI3Iu2mUCzLcneZDbKX5fP0261TEMPye9oNWpbl7jIbZC3L5+m3GxS7uWgu
	mA40rbtBxPIYFLuBYDldLKer0UDQKRUkg8VuO5D8/abr8O56i1a7wVy0mEvmj72kRWYx
	OC1+sTjb10ZTLMtyd5kNqlaTRB0ohiPmYDFjrEULwmatmdEYawWLM1prKLMJZbeZzBib
	DRXLstxdZoPm7DS5rAOBQCAQDA+DwWAwGAwGk8lgMBgMpliW5e4yG0Qv4+kgcXhe1oFg
	eLPZbDabcTCYjAaDwWAwxfeLTApBIHoZTweJw/OyDgTDm81ms9mMg8FkMxgMBoMppvk5
	vdwGtd/kMhvkDrfLOlAzPBa+3+tgWm5jyUCoZnjcuhGNsthQOCsSbbnbrVhLKRTT/Jxe
	boPqcHq6XQal3SB32P2el8dvN3muA8VmMhtuVqvRZjUFOzyng9jvMLlMBq3LeDooTAfF
	ZDecDAeb5XAwHcgXCoaSQuL1KA/D0enxPBGDuWYuGAgVJpPlIBjebDabzeabGVebmWcw
	GIwFmqf1ZRAulpPBYCkF+x0ml8mgdRlPn+sUb/nZhb7Py+75Wz53keVpe1nuGkKr07J7
	/pbPE7GbraZ4y88u9H1eds/f8rmLLE/by3JXcAhNTsvu+Vs+T8RutpriLT+75GV0WNwO
	u11kedpelrtCwWk7LKcLw3R6WZ5vht3hc1meiLlwMRdN8ZafXe4yfR2eu8jytL0sdxnD
	6/K0OUzEbraawhcKhpJC4vUoD8PR6fE8EYO5Zi6YwhcKMqHDxMwVU/iCQ2jyO20Ov1B2
	mG5+y9tQdv2cdidiLpgLpvCFgs8p9hqmj9Hk9zkRU/hCwVByyn7fg+QwnJ62l4fs93id
	dp8TNBfMBVP4QkFj0iolytP2sjxBc8VcMIUvFAwlhcTrUR6Go9PjuVEebpfFdbO5LE/E
	YK6ZC6bwhYLGNLs8zc/p5TZRnraX5YmZC+aKKYDmNLs8z8/p5fbcFYab54kbDeeixVwz
	BdCcZpfn+Tm93J670Oa5a13G0xM02M01g7liCmAoaJwO3224vDyfp99uVyhonA7fbbi8
	PJ+n325qHl4mhulhdnk+T8RcMBeMHFMAhe83fRgeo8sJGkwBDAWN0+G7DZeX5/P02+0K
	BY3T4bsNl5fn8/TbTc3Dy1p2WpyIuWAumII/HU6T1PB8XZ2X5UN2uuymJ2gwmmsGc8kU
	vmBaDn3L6S6hfNx2JoeJmEwGc8lwrlh4pvCFgkHkMAl9y+mJmSyn8IWCwSE0KazT6W/3
	PGFzxRS+UFBKHSZkLpjCFwoioUVqIubCKXyhYHAITRaHCZsrpvCFgtOmMPmcJmSumMIX
	CgahyWEi5ropgO512RWGw9npcZiefrvNaXn5HmazEzHcTEGiNqdhc5med5bpCZyCFK+H
	5WE3Pe0uJ2YKYPIprJvNZfnwDc8X3ee0u0wtz+mJmMIXCk6bwvocOkwmYi6YK0YjxxTA
	UPAIrV7lYfeZXZYnZq6YzSVT+JJPKDtMN7/lbSi7fk67meVzeJxPxFwwF0zBTz6dRKl1
	WofD33J6oha7uWQyhS8URBKDoWFChoO5YjIFP/lEEoMhY0KGg7liMgU/+QzWyel3yJiQ
	wWyumgJoL4+ZabFrXcbTEzGXzAVT+ELBUJIJn8+rQSnVDkvMXDCXDabwhYKhJBM+n1eD
	Uurw3W6/3YmZC+aywRS+UPDpFr/DcvK0LE+H2YmYC6bgJ5/Tdf4eZq9DxkRMwU8+p2V5
	OswOGROxmIKffE7Z73uQHIbT0/bykP0er9Puc8iYiLlgLpjCh8XZoOww3fyWt6Hs+jnt
	TsRcMBdM4Us+oeww3fyWt6Hs+jntDhkTNhfMBSPjFMBQ8CgPw9Hp8ZxYtqfH5eHbTZe/
	2YmZK2ZzyWIKfvIZHI/L7LI8TH/LQ0ZZYnazuWwKfvJ5lIfh6PR4HjImarGbSyZT8JPP
	aV1uDo/LCRks55K5ZApffS52jcnjRM0Fc8EUvvpc7HKX6fe3fJ12nxM1F8wFU/jqc7Er
	VEW+5/Thuw1/z9P0MrFsT4/LiZhLpgCa0+zyPD+nl9tzF9o8d5Xd4zc57T7PXesynp6I
	KXz1udgVqiLfczo0PF6X6cY0m16WJ2IumIKffFanwpAxkYPBXDRXTMFPPqfDabJZZ9PT
	7TI5HR6+2+2wmzwnlu3pcTlBg9FcM5hLpuAnn0JiaBoyJmIunIKffBKtxNA0ZEzEXDgF
	P/kcEkPTkDERc+EUvlAQOw+7p2N0uV1OzBT85DOIHCanZXk6zA5Sg9BkQma7KfjJZxA5
	TArZ7/E6NE3MYDEXDeaSKfjJJw4mi8VCxkRMBoO5YjKXTOFrE53Tp9nMfofJ1XlZPmSn
	y256IuaCuWJinMI3fsvL4zCcXpeXEzEXzEVT8JPPIHKYDBkTMhxO4QsFQ0kmfD4/zuHp
	xMwFc9lgCl99LnaFqljkMAkdJhMxl0zhq8/FrlAVixwmEzGXTOELBYvGpNMqDTYTMldM
	4QsFi8aktO6mp9vlhMwVU/CTT2SSGDImZC6YC6bgJ5/TprA+DxkTMVdMQZqH3WTxG5+Y
	wWAumAK4LuPprlCwGaaP0YmYC+aCkWMKfvIprJvNZfnwDc8X3ee0uxwyJmIKHzE9Xyfb
	4XN5nqDhYK4ZzCVT+EJBI7G4LOen9Le8nJDhXDOYwhcKFs3m8LgcFrPLoWki5oIpfKHg
	spyf0t/yckKm8IWqVGIzQZvlXDOYi6bwhYLNtzjNLhvT7HLSTS+f5Wl6PhFzwVw1BT/5
	rE6FzfB8HpoS5Wl7WZ6I0WCuGcwVU/CTz+lwmhSy3+P18N1uh93kObFsT4/LCRqM5prB
	XDIFP/mcDqfJoHyMTtPLY3pdXm6+yWV2yJigwWiuGcwlU/CTz9A0ZEzIXDGFLxQcysvk
	spueDrObYXf4XJYnYi6Ywrcsy91ltrTMDueR7zk9EVPwk8/qVIh8z+khYyLmkil89bnY
	FaoO3+32252IuWAKXygorM+h73tZHhomYi6YwhcKTovQZtgdPpfliZgL5oopfMnnlB22
	l6Hy97g8n7/liZiCn3xKy/C3nB4yJmYxBT/5pKbb5WnePQ4ZE7YazFVT8JNPZ5l+f8vX
	afc5ZEzMXDSFLxQMDqFJKDtMN7/l7YTNFVP4QsFpcyilDhMxF0zhCwWnzWFi5oq5cgp+
	8gkdJkPGhMyVU/CTz+AQmgwZEzEXTQFcl8cuOB0tL4fJiZgCuC6PXcy0uJ2IKYDr8tg1
	fsvLY3keTn8nYi6YAgAAAAA=
	</data>
	<key>backlight-level</key>
	<data>
	rwg=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	EGRcCgAAAABwFMSOj+IpSg==
	</data>
	<key>boot-args</key>
	<string></string>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkQ3OTZFQTUxLTJC
	QjItNDgzRC04OTBGLTI3MUZBODRENTIwRjwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAAAgGRYdAAAA
	AFHqlteyKz1IiQ8nH6hNUg8CAgQDJAD3/HS+fAvzSZFHAfQELmhCBe4pVFLBKUetafF2
	yXe8z3//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CBDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajUyAAAAAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AigPAAAH
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajUyAAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	QXl1c2jigJlzIE1hY0Jvb2sgUHJv
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QzEVBQWhBQUFBQkx3SUFBQUFBRnRodl84UkRtZHpMbWxq
	Ykc5MVpDNWhkWFJvdlFEWXZCT3E0Z0FvU1pSaVd0a3h5eWxiZkpFdlNtQUdHT1RMZWxR
	d1NuQWFOOHByNHNmLVhGN2RqTVllQzN4TVdsbVBld0xMcHRqMTFlWmFhbkVsdTZCNmIx
	S0tCSWdfdUc5MHUtcW1mR0cwbC1uTnVoaEpxaEI2WUZ2QjdZMVlMT2lPWHB3NzlrcXN1
	S2ZTWkRNRk5hbk1YcHl3ZXd+fhEB9V8QE2F5dXNoZXJlQGljbG91ZC5jb21bMTE0NDg1
	MzU5MTcjQdbYcAZWAW1fECQ1OUJFNjFDRS0yMzAzLTQwM0EtOTZENC1EOTc2NzM5NUNF
	NzjTFxgZGhscXxAVSW5Vc2VPd25lckRpc3BsYXlOYW1lXxATSW5Vc2VPd25lckZpcnN0
	TmFtZV8QEkluVXNlT3duZXJMYXN0TmFtZV8QD0F5dXNoIENoYXVkaGFyeVVBeXVzaFlD
	aGF1ZGhhcnnRDx7VHyAhIiMkJSYnKFZhcHNFbnZYaG9zdG5hbWVdYXV0aE1lY2hhbmlz
	bVZzY2hlbWVdaWRzSWRlbnRpZmllclpQcm9kdWN0aW9uXxATcDM5LWZtaXAuaWNsb3Vk
	LmNvbVV0b2tlblVodHRwc18QJDRCQjY4ODMxLTA5NDYtNDA2OC1BRjQzLTRDOUM3Mjcy
	N0Y1MQAIACEAMwBIAFIAYQBoAHYAfwCIAJAAlQCeALQAtgC4ANwBqwGuAcQB0AHZAgAC
	BwIfAjUCSgJcAmICbAJvAnoCgQKKApgCnwKtArgCzgLUAtoAAAAAAAACAQAAAAAAAAAp
	AAAAAAAAAAAAAAAAAAADAQ==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAAAgGRYdAAAA
	AFHqlteyKz1IiQ8nH6hNUg8CAgQDJAD3/HS+fAvzSZFHAfQELmhCBe4pVFLBKUetafF2
	yXe8z3//BAA=
	</data>
</dict>
</plist>